﻿<div class="container">

    <h1 class="display-1">Request Code To Change Email</h1>

    @if (ViewBag.Success == true)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Verification code Sent</h4>
            <p>We have Sent You a code to this Email</p>
            <p>Please Check you indox</p>
            <hr>
            <a asp-action="ChangeEmail" asp-controller="Account">code have been sent , click here to complete reseting your password</a>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Sorry </h4>
            <p>the Email you enter not exists in our Database</p>
            <hr>
            <a asp-action="SignUp" asp-controller="Account" class=" mb-0">Go to Sign up</a>
        </div>
    }

    <form asp-action="RequestChangeEmail" asp-controller="Account" method="post">
        <div class="mb-3">
            <label for="Email" class="form-label"></label>
            <input name="Email" placeholder="Enter Your Current Email" class="form-control">
            <label for="NewEmail" class="form-label"></label>
            <input name="NEwEmail" placeholder="Enter Your New Email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>